



<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card>
   
    <center>
    <ion-card-header>
      <img src="assets/img/user.png" style="width: 160px; height: 150px;">
      <ion-card-title style="color: #3880FF ;">Gio Vazquez</ion-card-title>
      <ion-card-subtitle><ion-icon style="color: #3880FF ;" name="location"></ion-icon>Villas Del sol</ion-card-subtitle>
      
    </ion-card-header>
  </center>
    <ion-card-content>
      <ion-card>
        <ion-item  class="ion-activated">
          <ion-icon style="color: #3880FF ;" name="star" slot="start"></ion-icon>
          <ion-label>Puntuacion de <h10 style="color: #3880FF ;">4.5</h10></ion-label>
        </ion-item>
      
        <ion-item >
          <ion-icon style="color: red ;" name="heart" slot="start"></ion-icon>
          <ion-label>Tratos <h10 style="color: #3880FF ;">15</h10> </ion-label>
        </ion-item>
      </ion-card>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item  class="ion-activated">
      <img src="assets/img/carpintero.png" style="width: 80px; height: 50px;">
      <ion-label  style="color: #3880FF;">Carpinteria</ion-label>
    </ion-item>
 
  </ion-card>
  
</ion-content>
