

<ion-content>
  <center>

    <img src="assets/img/login.png" style="width: 90%; height: 270px;">
  </center>


  <ion-item>
    <ion-input type="email" position="floating" placeholder="Email"  required></ion-input>

  </ion-item>
  <ion-item>
    <ion-input  name="password" placeholder="Contraseña" [type]="showPassword ? 'text' : 'password'" position="floating"></ion-input>
    <ion-icon slot="end"  (click)=" togglePassword()" [name]="passwordToggleIcon"> </ion-icon>

  </ion-item>
  <center>
    <ion-button style="width: 80%; margin-top: 20px;"   type="submit"  expand="block" (click)="goHome()">Iniciar</ion-button>
 
  </center>

  <center>
    <h1 style="margin-top: 100px;"></h1>

  <h10 style="color: #555;  " >Aun no tienes cuenta?, <h10 style="color: #3880FF;  " (click)="goIncioSession()">Registrate</h10></h10>
</center>
</ion-content>
