

<ion-content>
  <center>

    <img src="assets/img/login.png" style="width: 90%; height: 270px;">
  </center>

  <ion-item>
    <ion-label type="email" style="color: #3880FF;" position="floating">Correo</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  type="password"  style="color: #3880FF;  " position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <center>
    <ion-button style="width: 80%; margin-top: 20px;"  expand="block" (click)="goHome()">Iniciar sesion</ion-button>
 
  </center>

  <center>
    <h1 style="margin-top: 100px;"></h1>

  <h10 style="color: #555;  " >Aun no tienes cuenta?, <h10 style="color: #3880FF;  " (click)="goIncioSession()">Registrate</h10></h10>
</center>
</ion-content>
