

<ion-content>
  <center>

    <img src="assets/img/service.png" style="width: 70%; height: 210px;">
  </center>
  <ion-item>
    <ion-label type="email" style="color: #3880FF;" position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="new-password" style="color: #3880FF;" position="floating">Descripcion</ion-label>
    <ion-input [(ngModel)]="descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="new-password" style="color: #3880FF;" position="floating">Tipo</ion-label>
    <ion-input [(ngModel)]="tipo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="new-password" style="color: #3880FF;" position="floating">Ubicacion</ion-label>
    <ion-input [(ngModel)]="ubicacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="new-password" style="color: #3880FF;" position="floating">Imagen</ion-label>
    <ion-input [(ngModel)]="imagen"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="new-password" style="color: #3880FF;" position="floating">Telefono</ion-label>
    <ion-input [(ngModel)]="telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="new-password" style="color: #3880FF;" position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label type="password" style="color: #3880FF;" position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password"></ion-input>
  </ion-item>
  <center>
    <ion-button style="width: 80%; margin-top: 20px;"  expand="block" (click)=" postDatos()">Registrar</ion-button>

  </center>

  
</ion-content>